*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contener{
    max-width: 1220px;
    margin: 0 auto;
    border: 2px solid purple;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    background-image: url(./Rectangle\ \(2\).jpg);
    min-height: 100vh;

}
.flex{
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    align-items: center;
}
nav ul{
    display: flex;
    min-width: 400px;
    justify-content: space-between;
}
nav a{
    color: aqua;
    transition: all 2s;
}
nav a:hover{
    color: rgb(255, 0, 204);
}
.info h1{
    font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 95px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

/* White */

color: #FFFFFF;
max-width: 900px;
margin :0 auto;
padding-top: 112px;
padding-bottom: 35px;
}
.info p{
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
text-align: center;
text-transform: uppercase;

/* White */

color: #FFFFFF;
}
@media screen and (max-width:700px) {
    .info p{
        color: red;
    }
}

@media screen and (max-width:480px) {
    .info h1{
        font-size: 30px;
        line-height: 50px;
    }
    .info p {
        color: green;
    }
}
@media screen and (max-width:360px) {
    nav ul{
        min-width: 20px;
    }
    .info p {
        color:rgb(255, 0, 204)
    }
}
